:root {
	--red: #d1232a;
	--red-warn: #ff5b602c;
	--red-hover: #e0484d;
	--red-click: #d1232a4d;
	--gray: #444444;
	--gray-light: #44444483;
	--white: #ffffff;
	--smoke: #f1f3f2;
	--transition: 0.3s ease-in-out;
	--radius-sm: 0.2rem;
	--radius-md: 0.4rem;
	--shadow: 0px 2px 5px 2px rgb(241, 243, 242, 0.1);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
	color: var(--gray);
	font-size: calc(0.9rem + 0.05vmin);
	/* outline: red 1px solid; */
}
.App {
	display: flex;
	justify-content: center;
}
h1 {
	font-size: calc(1.5rem + 0.2vmin);
}
li {
	list-style: none;
}
